.card-cacatuas{
    margin: 4vh auto 0 auto;
    width: 20vw;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
}

.card-cacatuas div{
    background: transparent;
    z-index: 1;
    margin-top: -20vh;
    text-align: left;
    margin-left: 1vw;
    text-shadow: 3px 3px 10px var(--cor-preta);
}

#img-card-cacatuas {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-cacatuas h3 {
    color: var(--cor-branca);
    font-weight: bolder;
}

.card-cacatuas span{
    font-size: 17px;
    width: 100%;
    color: #ffffffcf;
}

.card-cacatuas a:hover {
    opacity: 90%;
    cursor: pointer;
    transition: ease 0.2s;
}

.card-cacatuas img{
    width: 15vw;
    object-fit: cover;
    padding-bottom: 2vh;
}

@media (max-width: 1080px){
    .card-cacatuas{
        margin: 2vh auto 2vh auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 35vw;
        font-size: 13px;
    }

    .card-cacatuas img{
        width: 100%;
    }

    .card-cacatuas hr{
        margin-left: 11vw;
        margin-right: 11vw;
        margin-top: -0.5vh;
        margin-bottom: 1vh;
    }

    .card-cacatuas div{
        margin-top: -10vh;
        text-align: center;
        padding: 0;
    }
}